<!DOCTYPE html>
<html lang=en>
  <head>
    <title>oyvinmar.com</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
  </head>
  <body>
    <div id="top">
      <div id="topnav" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li><a href="#about">About me</a></li>
              <li><a href="#lifestream">Lifestream</a></li>
              <li><a href="#elsewhere">Elsewhere</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <section class="row">
      <div class="hero-unit span8">
        <h1>Øyvind Marthinsen</h1>
        <h2>Developer, skier, web enthusiast and more..</h2>
      </div>
      <div class="span4">
      </div>
      </section>
    </div>
    <div class="navbar subnav">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand">oyvinmar.com</a>
          <div id="links" style="display:none" class="nav-collapse pull-right">
            <ul class="nav">
              <li><a href="#about">About me</a></li>
              <li><a href="#lifestream">Lifestream</a></li>
              <li><a href="#elsewhere">Elsewhere</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="subnav-space"></div>
    <div class="container">
      <!--section id="welcome" class="row">
      <h2>Welcome</h2>
      <div class="span8">
        <p>Hello, and welcome to my good "old" fashioned homepage. I'm a Norwegian developer and web enthusiast. Follow this <a href="#about">link</a> for more boring details.</p>
      </div>
      </section-->
      <section id="about" class="row">
      <h2>About me</h2>
      <div class="span8">
        <p>Hey, I'm Øyvind Marthinsen. I'm a Norwegian developer and web enthusiast living in Oslo. Currently I'm working as a consultant at <a rel="external" href="http://knowit.no">Know IT Objectnet</a>, where I'm able to work on cool things.</p>
        <p>I enjoy watching football (the British kind), and love going skiing in the winter. I think listening to word is the only way to start a productive work day and I can full heartedly recommend xx</p>
      </div>
      <div class="span4">
        <figure>
        <img src="/linkedin_200.jpg" alt="Øyvind Marthinsen"/>
        </figure>
      </div>
      </section>
      <section id="lifestream" class="row">
      <h2>Lifestream</h2>
      <p>If this content is up-to-date, I'm probably still alive. If not then lets hope it is a software bug</p>
      <div id="stream" class="span12">
        <img id="loader" src="/loader.gif" alt="Loading"/>
        {{{body}}}
        <!--article class="entry row-fluid" id="1329218586000">
        <div class="span1"><img src="/Pinboard.in64.png" alt="Twitter logo"/></div>
        <div class="span11">
          <header><a href="http://pinboard.in/">Pinboard.in</a></header>
          <p>ClojureDocs - Community-Powered Clojure Documentation and Examples</p>
          <a href="http://clojuredocs.org/"><time class="published" title="">Tue Feb 14 2012 12:23:06 GMT+0100 (CET)</time></a>
        </div>
        </article-->
      </div>
      </section>
    </div>
    <div id="page-bottom" class="container-fluid">
      <div class="container">
      <section id="elsewhere" class="row">
      <h2>Elsewhere online</h2>
      <div class="span2">
        <ul>
          <li><a class="facebook" href="http://facebook.com/oyvind.marthinsen">Facebook</a></li>
          <li><a href="http://twitter.com/oyvinmar">Twitter</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li><a href="http://linkedin.com/in/oyvinmar">Linkedin</a></li>
          <li><a href="http://last.fm/user/oyvinmar">Last.fm</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li><a href="http://www.flickr.com/photos/97194735@N00/">Flickr</a></li>
          <li><a href="https://plus.google.com/u/0/112314193090100501199/posts">Google+</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li><a href="http://foursquare.com/oyvinmar">Foursquare</a></li>
          <!--<li><a href="#">Kontrib.it</a></li>-->
          <!--<li><a href="http://news.combinator/">Hacker News</a></li>-->
        </ul>
      </div>
      </section>
      <footer>
      <p>&copy; Øyvind Marthinsen</p>
      </footer>
    </div> <!-- /container -->
    </div> <!-- /container -->
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="backbone.js"></script>
    <script type="text/javascript" src="handlebars.js"></script>
    <script type="text/javascript" src="remote_call_api.js"></script>
    <script type="text/javascript" src="lifestream.js"></script>
    <script type="text/javascript" src="init.js"></script>
  </body>
</html>
