<!DOCTYPE html>

<html lang=en>
  <head>
    <title>oyvinmar.com</title>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand">oyvinmar.com</a>
        </div>
      </div>
    </div>
    <div class="container">
      <!--div class="page-header">
      <h1>Hello world! <small>Supporting text or tagline</small></h1>
      </div-->

      <div class="row">
        <h2>About me</h2>
        <div class="span8">
          <p>Hey, I'm Øyvind Marthinsen. I'm a Norwegian developer and web enthusiast living in Oslo. Currently I'm working as a consultant at <a rel="external" href="http://knowit.no">Know IT Objectnet</a>, where I'm able to work on cool things.</p>
          <p>I enjoy watching football (the British kind), and love going skiing in the winter. I think listening to word is the only way to start a productive work day and I can full heartedly recommend xx</p>
        </div>
        <div class="span4">
          <figure>
            <img src="/linkedin_200.jpg" alt="Øyvind Marthinsen"/>
          </figure>
        </div>
      </div>

      <div class="row">
        <h2>Lifestream</h2>
        <div id="stream" class="span12">
          {{{body}}}
        </div>
      </div>
      <div class="row">
        <h2>Elsewhere online</h2>
        <div class="span4">
          <ul>
            <li>
              <a href="http://facebook.com/oyvind.marthinsen">Facebook</a>
            </li>
            <li>
              <a href="http://twitter.com/oyvinmar">Twitter</a>
            </li>
            <li>
              <a href="http://foursquare.com/oyvinmar">Foursquare</a>
            </li>
          </ul>
        </div>
        <div class="span4">
          <ul>
            <li>
              <a href="http://linkedin.com/in/oyvinmar">Linkedin</a>
            </li>
            <li>
              <a href="http://last.fm/user/oyvinmar">Last.fm</a>
            </li>
            <li>
              <a href="http://news.combinator/">Hacker News</a>
            </li>
          </ul>
        </div>
        <div class="span4">
          <ul>
            <li>
              <a href="#">Kontrib.it</a>
            </li>
            <li>
              <a href="#">Flickr</a>
            </li>
            <li>
              <a href="#">Google +</a>
            </li>
          </ul>
        </div>
      </div>
      <footer>
        <p>&copy; Company 2011</p>
      </footer>
    </div> <!-- /container -->
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="backbone.js"></script>
    <script type="text/javascript" src="handlebars.js"></script>
    <script type="text/javascript" src="remote_call_api.js"></script>
    <script type="text/javascript" src="init.js"></script>
  </body>
</html>
