#cv {
  color: #444444;
  background: white;

  h4 {
    font-size: 1.4em;
  }
}

.dl-horizontal {
  dt {
    text-align: left !important;
  }
}

.gutter {
  padding: 0 1em;
  background-color: #d3dee0;
  h1 {
    text-align: center;
  }
}

.flex {
  display: flex;
  // align-items: center;
  figure,
  article {
    margin: 1em;
  }

  img {
    border: 4px white solid;
    margin-top: 2.8em;
    max-width: 250px;
    border-radius: 9999px;
  }
}

@media (max-width: 768px) {
  .flex {
    display: block;
    img {
      max-width: 200px;
    }
  }

  .gutter {
    padding: 1em 1em;
    h1 {
      text-align: left;
    }
  }
}
