//Variables
$font-size-base: 20px;
$line-height-base: 1.428571429;

// 20/14
$font-family-sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "kepler-std", Georgia, "Times New Roman", Times, serif;
$headingsFontFamily: $font-family-serif;
$subNavbarLinkColor: #CCCCCC;
$subNavbarLinkColorHover: darken($subNavbarLinkColor, 15%);
$fa-font-path: "../../node_modules/font-awesome/fonts" !default;
$navbar-default-bg: #26292E;
$navbar-default-link-color: #CCC;
$navbar-default-link-hover-color: #ff7857;
$navbar-default-link-active-color: #ff7857;
$navbar-default-link-active-bg: transparent;
$navbar-default-color: #FFF;

$base-color: #777 !default;

@mixin border-radius($radius) {
  border-radius: $radius;
}
