//fonts
@font-face {
  font-family: Vollkorn;
  font-weight: bold;
  src: url('Vollkorn-Bold.ttf');
}

@font-face {
  font-family: Vollkorn;
  font-weight: normal;
  font-style: italic;
  src: url('Vollkorn-Italic.ttf');
}

body {
  padding-bottom: 60px;
}

section {
  padding-top: 40px;
}

h1 {
  font-family: Vollkorn, GearedSlab;
  font-weight: bold;
}

#top {
  padding-top: 60px;
  background-color: #FF867D;
  background: url('45degreee_fabric.png') #FFF repeat;
}
/* Override */
.hero-unit {
  background: transparent;
  h2 {
    font-family: Vollkorn;
    font-weight: normal;
    font-style: italic;
  }
}
.navbar-fixed-top {
  top: 40px;
}

.navbar-inner {
  background-image: url("../../darkdenim3.png");
  border-radius: 0;
}

// Links
.navbar .nav > li > a {
  font-size: @baseFontSize + 1;
  font-weight: bold;
  text-shadow: none;
}

// Hover
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: @navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background-color: transparent
}

[class^="icon-"] {
  background-image: url(../../glyphicons-halflings.png);
}
.icon-white {
  background-image: url(../../glyphicons-halflings-white.png);
}
/* Override  end */


// subnav
.subnav {
  position: absolute;
  width: 100%;
  z-index: 1031;
  // Links
  .nav > li > a {
    color: @subnavbarLinkColor;
    background-color: transparent;
  }
  .nav > li > a:hover {
    background-color: transparent;
    color: @subnavbarLinkColorHover;
    text-decoration: none;
  }
  .nav .active > a,
  .nav .active > a:hover {
    color: @white;
    text-decoration: none;
    background-color: @navbarBackground;
    background-color: rgba(0,0,0,.3);
  }
}


.subnav-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.subnav-space {
  height: 50px;
  margin-bottom: 18px;
  width: 100%;
}

#elsewhere {

ul li {
  list-style: none;
  display: inline;
}

a {
  text-indent: -4000px;
  display: block;
  height:64px;
  width:64px;
  .transition(background .5s ease-in);
}

a[href*="facebook.com"] {
  background: url("facebook_dark.png") no-repeat;
  &:hover {
    background: url("facebook_active.png") no-repeat;
  }
}

a[href*="twitter.com"] {
  background: url("twitter02_dark.png") no-repeat;
  &:hover {
    background: url("twitter02_active.png") no-repeat;
  }
}

a[href*="foursquare.com"] {
  background: url("facebook_dark.png") no-repeat;
}

a[href*="linkedin.com"] {
  background: url("in_dark.png") no-repeat;
  &:hover {
    background: url("in_active.png") no-repeat;
  }
}

a[href*="flickr.com"] {
  background: url("flickr_dark.png") no-repeat;
  &:hover {
    background: url("flickr_active.png") no-repeat;
  }
}

a[href*="last.fm"] {
  background: url("lastfm_dark.png") no-repeat;
  &:hover {
    background: url("lastfm_active.png") no-repeat;
  }
}

  a[href*="google.com"] {
  background: url("google_dark.png") no-repeat;
  &:hover {
    background: url("google_active.png") no-repeat;
  }
}
}

footer {
  text-align: center;
}
